.App {
  width: 330px;
  height: 100%;
  box-shadow: 0px 0px 10px 3px rgb(212, 212, 212);
}

.box {
  padding: 15px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
}

.box::after {
  content: "";
  width: 330px;
  height: 2px;
  background-color: rgb(212, 212, 212);
  position: fixed;
  margin: 53px 0px 0px -15px;
}

.doneoffset::after {
  margin: 38px 0px 0px -15px;
}

#bar {
  background-color: rgb(187, 75, 75);
}

#delete {
  background-color: rgb(121, 121, 121);
}

#delete:hover {
  background-color: rgb(100, 100, 100);
}

button {
  border-radius: 2em;
  border-style: none;
  background-color: rgb(143, 22, 22);
  font-weight: 600;
  font-size: 12px;
  color: rgb(255, 255, 255);
  padding: 12px;
  outline: none;
  flex-grow: 1;
  cursor: pointer;
}

button:hover {
  background-color: rgb(121, 20, 20);
}

#create {
  flex-grow: 4;
  margin-right: 10px;
}

.new:hover {
  box-shadow: inset 0px 0px 4px 2px rgb(212, 212, 212);
}

.complete {
  height: 25px;
  margin: auto;
}

input {
  border-style: none;
  flex-grow: 1;
  outline: none;
  font-size: 14px;
  margin: 0 5px 0 5px;
}

#completed h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 7px;
  padding-right: 100px;
  color: white;
}

.strikethrough {
  text-decoration: line-through;
}

#clear {
}
